# Creating SQL Database

This jupyter notebook just helps create SQL tables and import data into them. Sadly, the '.import' function cannot be used in a python script, so it must be inputted manually into the terminal. However, I can still create the commands in this script which are almost the same for each country but have small differences.

In [1]:
import sqlite3
import csv
import handling

In [2]:
def execute_sql_query(connection, query, params):
    cursor = connection.cursor()
    cursor.execute(query, params)
    connection.commit()

## Creating Tables and Imprting

In [3]:
#handling.create_SQL_commands('thailand')

## Combing Tables and Exporting Result

In [6]:
handling.combined_tables_SQL_command('thailand')

            CREATE TABLE thailand AS
            SELECT DISTINCT *
            FROM thailand_track_and_artist_info
            JOIN thailand_audio_features ON thailand_track_and_artist_info.track_id = thailand_audio_features.id
            JOIN thailand_genres ON thailand_track_and_artist_info.artist_id = thailand_genres.artist_id;

            ALTER TABLE usa
            DROP COLUMN 'artist_id:1';

            ALTER TABLE usa
            DROP COLUMN 'name:1';

            .mode csv
            .output data/usa/usa.csv
            SELECT * FROM usa