# Creating SQL Database

This jupyter notebook just helps create SQL tables and import data into them. Sadly, the '.import' function cannot be used in a python script, so it must be inputted manually into the terminal. However, I can still create the commands in this script which are almost the same for each country but have small differences.

In [1]:
import sqlite3
import csv
import handling

In [2]:
def execute_sql_query(connection, query, params):
    cursor = connection.cursor()
    cursor.execute(query, params)
    connection.commit()

## Creating Tables and Imprting

In [3]:
#handling.create_SQL_commands('thailand')

## Combing Tables and Exporting Result

In [14]:
handling.combined_tables_SQL_command('australia')

            CREATE TABLE australia AS
            SELECT DISTINCT *
            FROM australia_track_and_artist_info
            JOIN australia_audio_features ON australia_track_and_artist_info.track_id = australia_audio_features.id
            JOIN australia_genres ON australia_track_and_artist_info.artist_id = australia_genres.artist_id;

            ALTER TABLE australia
            DROP COLUMN 'artist_id:1';

            ALTER TABLE australia
            DROP COLUMN 'name:1';

            .output /Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/australia/australia.csv
            SELECT * FROM australia;