# Creating SQL Database

This jupyter notebook just helps create SQL tables and import data into them. Sadly, the '.import' function cannot be used in a python script, so it must be inputted manually into the terminal. However, I can still create the commands in this script which are almost the same for each country but have small differences.

In [1]:
import sqlite3
import csv
import handling
import pandas as pd

In [2]:
def execute_sql_query(connection, query, params):
    cursor = connection.cursor()
    cursor.execute(query, params)
    connection.commit()

## Creating Tables and Imprting

In [31]:
handling.create_SQL_commands('brazil')

create table brazil_track_and_artist_info (
          name TEXT,
          artist_id TEXT,
          track_id TEXT,
          track_name TEXT,
          popularity INTEGER);
.import --skip 1 /Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/brazil/top_songs_brazil_track_and_artist_info.csv brazil_track_and_artist_info


        create table brazil_genres (artist_id TEXT, name TEXT, 'Genre 1' TEXT, 'Genre 2' TEXT, 'Genre 3' TEXT, 'Genre 4' TEXT, 'Genre 5' TEXT, 'Genre 6' TEXT);


    .import --skip 1 /Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/brazil/top_songs_brazil_genres.csv brazil_genres


    create table brazil_audio_features (id TEXT, danceability FLOAT, energy FLOAT, key INTEGER, loudness FLOAT, mode INTEGER, speechiness FLOAT, acousticness FLOAT, instrumentalness FLOAT, liveness FLOAT, valence FLOAT, tempo FLOAT,duration_ms INTEGER,time_signature INTEGER);


    .import --skip 1 /Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/brazil/top_songs_brazil_audio_features.csv brazil_audio_features

## Combing Tables and Exporting Result

In [30]:
handling.combined_tables_SQL_command('brazil')

            CREATE TABLE brazil AS
            SELECT DISTINCT *
            FROM brazil_track_and_artist_info
            JOIN brazil_audio_features ON brazil_track_and_artist_info.track_id = brazil_audio_features.id
            JOIN brazil_genres ON brazil_track_and_artist_info.artist_id = brazil_genres.artist_id;

            ALTER TABLE brazil
            DROP COLUMN 'artist_id:1';

            ALTER TABLE brazil
            DROP COLUMN 'name:1';

            .output /Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/brazil/brazil.csv
            SELECT * FROM brazil;

## Combine all combined regional tables

In [3]:
countries = ['usa', 'nigeria', 'thailand', 'mexico', 'japan', 'india', 'hong_kong', 'canada', 'brazil', 'australia']

dfs = []

for country in countries:
    file_path = f'/Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/{country}/{country}.csv'
    print(file_path)

    df = pd.read_csv(file_path, engine='python')
    dfs.append(df)
    
combined_df = pd.concat(dfs, ignore_index=True)
deduplicated_df = combined_df.drop_duplicates(subset='name')

pd.set_option('display.max_rows', None)
deduplicated_df.to_csv('/Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/master.csv')
combined_df.head()

/Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/usa/usa.csv
/Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/nigeria/nigeria.csv
/Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/thailand/thailand.csv
/Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/mexico/mexico.csv
/Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/japan/japan.csv
/Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/india/india.csv
/Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/hong_kong/hong_kong.csv
/Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/canada/canada.csv
/Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/brazil/brazil.csv
/Users/prithvivenkataswamy/Documents/Spotify-Exploration/data/australia/australia.csv

,name,artist_id,track_id,track_name,popularity,id,danceability,energy,key,loudness,...,duration_ms,time_signature,Genre 1,Genre 2,Genre 3,Genre 4,Genre 5,Genre 6,Genre 7,GENRE 7
0,Gunna,2hlmm7s2ICUX0LVIhVFlZQ,4rXLjWdF2ZZpXCVTfWcshS,fukumean,96,4rXLjWdF2ZZpXCVTfWcshS,0.847,0.622,1,-6.747,...,125040,4,atl hip hop,melodic rap,rap,trap,NaN,NaN,NaN,NaN
1,Olivia Rodrigo,1McMsnEElThX1knmY4oliG,3k79jB4aGmMDUQzEwa46Rz,vampire,98,3k79jB4aGmMDUQzEwa46Rz,0.511,0.532,5,-5.745,...,219724,4,pop,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Jung Kook,6HaGTQPmzraVmaVxvz6EUc,7x9aauaA9cu6tyfpHnqDLo,Seven (feat. Latto) (Explicit Ver.),98,7x9aauaA9cu6tyfpHnqDLo,0.802,0.832,11,-4.107,...,185427,4,k-pop,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Morgan Wallen,4oUHIQIBe0LHzYfvXNW4QM,7K3BhSpAxZBznislvUMVtn,Last Night,90,7K3BhSpAxZBznislvUMVtn,0.492,0.675,6,-5.456,...,163855,4,contemporary country,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Taylor Swift,06HL4z0CvFAxyc27GXpf02,1BxfuPKGuaTgP7aM0Bbdwr,Cruel Summer,100,1BxfuPKGuaTgP7aM0Bbdwr,0.552,0.702,9,-5.707,...,178427,4,pop,NaN,NaN,NaN,NaN,NaN,NaN,NaN